@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, html {
      @apply bg-violet-900;
      width: 100%;
      height: 100%;
    }
}

.sc-bwzfXH {
  height: 70px !important;
  width: 70px !important;
  top: calc(50% - 35px) !important;
}

.hNAxas {
  margin: 0 !important;
}